.right-block-bg
  .rb-bg-title
    Search
  .rb-bg-content
    = form_tag posts_search_path, method: :get do
      = text_field_tag :request, nil, class: 'text-input-white', placeholder: 'Search query ...'
      = link_to 'javascript: void(0);', id: 'submit-search', class: 'btn-red-search' do
        = image_tag 'base/search.png', width: 20, height: 20