recreate_sitemap_xml_gz:
  cron: "0 30 2 * * 1"      # every Monday at 02:30
  class: SitemapUpdateJob
  queue: sitemap_updating
  args:
  description: "This job recreate file sitemap.xml.gz contains actually info for search engines"