.oor-social-buttons
  .facebook-like
    .fb-like{'data-href' => post_url(post), 'data-layout' => 'button_count', 'data-send' => 'false',
            'data-show-faces' => 'false', 'data-width' => '450'}
  .google-plus= google_plus_button(size: 'medium', href: post_url(post), annotation: 'bubble')
  .twitter-tweet= tweet_button(url: post_url(post), text: post.subject, count: 'horizontal')